.App {
  padding: 10px;
}

.search .inputTxt {
  border: 2px solid #ccc;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.search .btnArea button {
  margin: 5px 1.25% 0 0;
  border: 2px solid #ccc;
  width: 24%;
  height: 40px;
  font-size: 20px;
}

.search .btnArea button:last-child {
  margin-right: 0;
}

.list {
  margin-top: 20px;
}

.list > div {
  margin-top: 5px;
  border: 2px solid #ccc;
  padding: 5px 10px;
  font-size: 20px;
}
